<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarDo! Plan!</title>
  <link rel="stylesheet" href="<%= asset_path 'static_pages/home.css' %>">
</head>
<body>
  <div class="header">
    ほっ。<span>CarDo!</span> Plan！<br>
    計画的に余裕をもって楽しい車旅を！
  </div>

  <div class="button-container">
    <a href="/signup">新規登録</a>
    <a href="/login">ログイン</a>
  </div>
</body>
</html>