

<body class="top-page" style="background-image: url('<%= asset_path 'top_background.jpg' %>');">
  <div class="overlay">
    <header class="title">
      <h1>ほっ。<span>CarDo!</span> Plan！</h1>
      <p>計画的に余裕をもって楽しい車旅を！</p>
    </header>

    <div class="button-container">
      <%= link_to 'ログイン', new_user_session_path, class: "button login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "button sign-up" %>
    </div>
  </div>

  <footer class="footer_home">
    <p>© 2024 Ho.CarDo! Plan! All rights reserved.</p>
  </footer>
</body>
</html>