

.map-container {
  position: relative; /* 子要素を地図上に配置可能にする */;
}

#map {
  height: 75vh;
  width: 100%;
  z-index: 1; /* 地図を背景にする */
}

.form-overlay {
  position: absolute;
  top: 190px; /* 地図上部からの距離 */
  left: -82px; /* 地図左端からの距離 */
  z-index: 10; /* 地図の上に表示 */
  padding: 15px;
  width: 600px; /* フォームの幅 */
}

.form-overlay label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-overlay select,
.form-overlay input {
  margin-bottom: 10px;
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}