/* 全体のリセット */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* ヘッダー */

.header {
  background-color: #4CAF50;

  /* 緑色 */
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.logout-button {
  background-color: #f44336;

  /* 赤色 */
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

/* インストラクション */

.instructions {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

/* 地図エリア */

#map {
  height: 60vh;
  width: 100%;
}

/* フッター */

.footer {
  background-color: #4CAF50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #4CAF50;
  font-weight: bold;

  &:hover {
    background-color: #4CAF50;
    color: #fff;
  }
}

.modal {
  z-index: 1050; /* モーダルのz-indexを背景よりも上に設定 */
}

.modal-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.modal-backdrop {
  z-index: 1040; /* モーダルの背景 */
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
}

.modal-dialog {
  max-width: 480px; /* モーダルの幅を統一 */
  margin: 0 auto; /* 中央寄せ */
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 5px;
  }
}
